.galery {
    width: 100%;
    margin-top: 4cm;
    align-items: center;
    justify-content: center;
    
    /* min-height: 100vh; */
    /* position: relative; */
    /* background: linear-gradient(90deg, rgb(144, 57, 187),rgb(255, 191, 107)); */
    /* overflow: hidden; */
}



/* .galery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
} */

.galery__content h1 {
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.galery__content p {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
}

.galery__con {
    display: flex;
    grid-template-columns: repeat(auto-fill);
    padding: 20px;
    gap: 2rem;
    
}


/* ,minmax(25rem,1fr) */

/* @media (min-width:900px) {
    .galery__content {
        padding: 10px;
    }
    .galery__con {
        display: flex;
        grid-template-columns: repeat(auto-fill,minmax(25rem,1fr));
        padding: 20px;
        gap: 2rem;
    }
} */

.card {
    padding: 20px;
    /* padding-left: 10px; */

    /* position: relative; */
    background:hsla(0, 45%, 98%, 0.379);
    cursor: pointer;
    

}

.card img {
    opacity: .6;
 
  
}

.card button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: none;
    color: #fff;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
    font-size: 30px;
}

.card:hover button {
    opacity: 1;
    transition: 550ms;
}

.card:hover img {
    opacity: 1;
} 
.megaweb{
    width: 40%;
    padding: 30px;

}

#success_message{ display: none;}
/* @media (max-width:500px) { 
    .galery__content {
        padding: 10px;
    }
    .galery__con {
        display: grid;
        grid-template-columns: repeat(minmax(15rem,1fr));
        margin: 15px;
        gap: 1rem;
    }
    .galery__content p {
        color: var(--main-white);
        margin-top: 1rem;
        font-size: 10px;
    }
} */